/airbnb_madrid_conditions.parquet
/airbnb_madrid_host.parquet
/airbnb_madrid_location.parquet
/airbnb_madrid_property.parquet
/airbnb_madrid_reviews.parquet
/Entregable cliente Airbnb Santiago Pombo
/Precios 0
/Proyecto_final_Santiago_Pombo  Copia sab 27-04  17hs.ipynb